.header {
  &.__spacer {
    flex: 1 1 auto;
  }
  &.__link {
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  .btm_login_out {
    position: absolute;
    right: 0;
    margin-right: 20px;
  }
  margin-bottom: 20px;
}
.mat-toolbar.mat-primary {
  background: rgb(166, 225, 72);
  color: #fff;
  .header__link{
    color: white !important;
    margin-left: 30px;
  }
}