.chat {
    &_messages {
        height: 323px;
        width: 100%;
        padding: 0 4px;
    }

    &_message {
        min-height: 20px;
        padding: 10px;
        background: #bdbdbd;
        border-radius: 5px;
        margin: 5px 0;
        &--current-user{
            background-color: rgb(223, 244, 190);
            margin-right: 30px;
            margin-left: 25px;
            position: relative;
            &:after{
                content: "";
                width: 0;
                height: 0;
                border-left:0px solid transparent;
                border-right: 18px solid transparent;
                border-bottom: 20px solid rgb(223, 244, 190);
                transform: rotate(90deg);
                display: block;
                position: absolute;
                top: -1px;
                right: -15px;
            }
        }
        &--other-user{
            background-color: #fdfcfc;
            margin-left: 30px;
            position: relative;
            margin-right: 25px;
            &:after{
                content: "";
                width: 0;
                height: 0;
                border-left:0px solid transparent;
                border-right: 18px solid transparent;
                border-bottom: 20px solid #fdfcfc;
                transform: rotate(180deg);
                display: block;
                position: absolute;
                top: 0px;
                left: -15px;
            }
        }
    }

    &_case {
        height: 560px;
        width: 277px;
        border-radius: 40px 40px;
        border: 1px solid #000;
        margin: auto;
    }
    &_earsection {
        margin-top: 36px;
        margin-left: 72px;
        height: 16px;
    }
    &_camera {
        float: left;
        width: 16px;
        height: 16px;
        border: 1px solid #000;
        border-radius: 9px 9px;
    }
    &__speaker {
        float: left;
        width: 54px;
        height: 5px;
        margin-left: 15px;
        border: 1px solid #000;
        border-radius: 7px 7px;
    }
    &_screen {
        clear: both;
        width: 250px;
        height: 374px;
        margin: auto;
        margin-top: 35px;
        border: 1px solid #000;
        background-image: url('../../../assets/image/backgrouns_chat.jpeg');
    }
    &_screen iframe {
        border: none;
        width: 100%;
        height: 100%;
    }
    &_button {
        height: 56px;
        width: 56px;
        border: 1px solid #000;
        border-radius: 28px 28px;
        margin: auto;
        margin-top: 22px;
    }
    &_buttonsquare {
        height: 17px;
        width: 17px;
        border: 1px solid #000;
        border-radius: 5px;
        margin: auto;
        margin-top: 18px;
    }
    &_form {
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        mat-form-field {
            // background-color: rgb(236, 236, 236);
        }
    }
}
